{{- define "title" -}}
{{ $.Scratch.Set "metaTitle" "下载试用" }}
下载试用
{{- end -}}

{{- define "headTpl" -}}
{{$.Scratch.Set "nav_active" "download"}}
{{$.Scratch.Set "data_i18_link" "/download"}}
{{$.Scratch.Set "data_i18_cn" true }}
{{- partial "head/preload-css" (dict "href" "/css/download-cn.css") -}}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css" />
{{- end -}}

{{- define "main" -}}
<div class="download-cn">
    <div class="enterprise-wrapper">
        <div class="tidb-logo">
            <img class="lazy" src="/images/download-cn/tidb-logo.png" />
        </div>
        <div class="card">
            <div class="header">
                <div class="rocket-icon"><img class="lazy" src="/images/download-cn/rocket-icon.svg" /></div>
                <h1>开始体验 TiDB</h1>
            </div>
            <div class="form-wrapper">
                <div class="title-field">
                    <div class="title">
                        <p>社区版下载</p>
                        <img class="lazy linux-icon" src="/images/svgs/loader-spinner.svg"
                            data-original="/images/download-cn/linux-icon.svg" alt="linux-icon" />
                    </div>
                </div>

                <div class="form-field">
                    <div class="dropdown version">
                        <div class="dropdown-trigger">
                            <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
                                <span id="version">选择 TiDB 版本</span>
                            </button>
                        </div>
                        <div class="dropdown-menu" id="dropdown-menu" role="menu">
                            <div class="dropdown-content">
                                <div class="dropdown-item">
                                    v4.0.0
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="dropdown package">
                        <div class="dropdown-trigger">
                            <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
                                <span id="package">选择软件下载包</span>
                            </button>
                        </div>
                        <div class="dropdown-menu" id="dropdown-menu" role="menu">
                            <div class="dropdown-content">
                                <div class="dropdown-item">
                                    tidb-community-server
                                </div>
                                <div class="dropdown-item">
                                    tidb-community-toolkit
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="package-desc"></div>
                </div>

                <div class="control">
                    <label class="checkbox" onclick="clickbox()">
                        <input type="checkbox" id="protocol-checked">
                        我同意<a href="/licenses"> PingCAP 社区软件许可协议</a>。
                    </label>
                </div>
                <div class="download-btn">
                    <a href="/" download="" class="allow-download"><button onclick="download()"
                            class="button">下载</button></a>
                    <button onclick="download()" class="disallow-download button">下载</button>
                </div>
                <div class="wrong-tips">错误提示：<span class="tips"></span></div>
            </div>
        </div>

        <div class="more-info">
            <div class="title">查看更多信息</div>
            <div class="items">
                <p><a href="/docs-cn/stable/production-deployment-using-tiup/">如何安装</a></p>
                <p><a href="/docs-cn/stable/upgrade-tidb-using-tiup/">如何升级</a></p>
                <p><a href="/docs-cn/stable/releases/release-4.0.0-rc.2/">Release Note</a></p>
            </div>
        </div>
    </div>
</div>
{{- end -}}

{{- define "footJS" -}}
<script type="text/javascript" src="/js/vendor/lazyload.min.js"></script>
<script type="text/javascript">
    $(".lazy").lazyload({
        threshold: 200,
        effect: "fadeIn"
    });
</script>
<script type="text/javascript">
    function validateForm() {
        $('.wrong-tips').css('display', 'none')
        const version = $('#version')[0].innerText
        const package = $('#package')[0].innerText
        const boxChecked = $("#protocol-checked").prop('checked')
        $('.tips')[0].innerText = ''
        let errArr = []
        if (version == '选择 TiDB 版本') {
            errArr.push('请选择 TiDB 版本')
        }

        if (package == '选择软件下载包') {
            errArr.push('请选择下载软件包')
        }

        if (!boxChecked) {
            errArr.push('必须同意 PingCAP 社区软件许可协议')
        }

        if (errArr.length == 0) {
            $('.allow-download').css('display', 'block')
            $('.disallow-download').css('display', 'none')
        } else {
            $('.allow-download').css('display', 'none')
            $('.disallow-download').css('display', 'initial')
        }
        return errArr
    }

    function download() {
        const errMsg = validateForm()

        if (errMsg.length != 0) {
            $('.wrong-tips').css('display', 'block')
            $('.wrong-tips .tips').append(
                errMsg.map(e => '<span>' + e + '</span>').join('，')
            )
        }
    }

    function clickbox() {
        validateForm()
    }

    $(document).ready(function () {
        $('.dropdown').click(function () {
            $('.dropdown').not(this).removeClass('is-active')
            $(this).toggleClass('is-active')
        })

        $(document).on('click', function (event) {
            var $trigger = $('.dropdown');
            if ($trigger !== event.target && !$trigger.has(event.target).length) {
                $('.dropdown').removeClass('is-active');
            }
        });

        $('.version .dropdown-item').click(function () {
            $('#version')[0].innerText = $(this)[0].innerText
            $('#version').css('opacity', '1')
            validateForm()
        })

        $('.package .dropdown-item').click(function () {
            $('#package')[0].innerText = $(this)[0].innerText
            switch ($(this)[0].innerText) {
                case "tidb-community-server":
                    console.log()
                    $('.allow-download').attr('href', 'https://download.pingcap.org/tidb-community-server-v4.0.0-linux-amd64.tar.gz')
                    $('.allow-download').attr('download', 'tidb-community-server')
                    $('.package-desc').css('display', 'block')
                    $('.package-desc')[0].innerText = '获取 TiDB 一键安装离线包'
                    break;
                case "tidb-community-toolkit":
                    $('.allow-download').attr('href', 'https://download.pingcap.org/tidb-community-toolkit-v4.0.0-linux-amd64.tar.gz')
                    $('.allow-download').attr('download', 'tidb-community-toolkit')
                    $('.package-desc').css('display', 'block')
                    $('.package-desc')[0].innerText = '获取 TiDB 工具包'
                    break;
                default:
                    $('.allow-download').attr('href', '/')
                    break;
            }
            $('#package').css('opacity', '1')
            validateForm()
        })
    })
</script>
{{- end -}}
