{{ $schedule := .schedule }}
{{ $date := .date}}

{{- range $idx, $i := $schedule -}}
<div class="schedule {{ if eq $date "day2" }}hide-schedule {{ end }}{{ $date }}"
    id="{{ replace (replace $i.name  "/" "-" ) " " "-" }}">
    <div class="venue-title">{{ $i.name }}</div>
    <table class="schedule-table">
        <tr class="head">
            <td>{{if .isCn }}时间{{else}}Time{{end}}</td>
            <td>{{if .isCn }}议题{{else}}Topic{{end}}</td>
            <td>{{if .isCn }}演讲嘉宾{{else}}Speaker{{end}}</td>
            <td></td>
        </tr>
        {{- range $idx2, $j := $i.schedules -}}
        {{- if $j.TBA -}}
        <tr>
            <td>{{ $j.time }}</td>
            <td colspan="3">
                <p class="TBA">{{if .isCn }}敬请期待{{else}}TBA{{end}}</p>
            </td>
        </tr>
        {{- else if $j.break -}}
        <tr>
            <td>{{ $j.time }}</td>
            <td colspan="3">
                <p class="TBA">{{if .isCn }}【中场休息】{{else}}Half Time{{end}}</p>
            </td>
        </tr>
        {{- else -}}
        <tr class="{{ if $j.talk_detail }}collapsable{{ end }}">
            <td>{{ $j.time }}</td>
            <td>{{ $j.talk_title }}</td>
            {{- if and $j.company -}}
            <td><span class="speaker">{{ $j.speaker }} | </span>{{ $j.company }}</td>
            {{- else -}}
            <td>{{ $j.speaker }}</td>
            {{- end -}}

            {{- if $j.talk_detail -}}
            <td class="add-icon"> + </td>
            {{- else -}}
            <td></td>
            {{- end -}}
        </tr>
        {{- if $j.talk_detail -}}
        <tr class="detail-block">
            <td></td>
            <td colspan="3">
                <ul style="list-style: none;">
                    {{- range $idx2, $k := $j.talk_detail -}}
                    <li class="pagraphList">{{ $k }}</li>
                    {{- end -}}
                </ul>
            </td>
        </tr>
        {{- end -}}
        {{- end -}}
        {{- end -}}
    </table>
</div>
{{- end -}}
