{{ $i := .item}}

<div class="role-card" id="{{ $i.id }}">
    <div class="header">{{ $i.role}}</div>
    <div class="desc">{{ $i.desc }}</div>
    {{- range $idx2, $j := $i.detail -}}
        <div class="detail">
            <ul class="dot-blue">
                <li>
                    <span class="title">{{ $j.title }}</span>
                    <ul class="lists">
                        {{- range $j.lists}}
                            <li>{{ . }}</li>
                        {{- end -}}
                    </ul>
                </li>
            </ul>
        </div>
    {{- end -}}
</div>