<script type="text/javascript">
var trackOutboundLink = function(url) {
  var redirectTriggered = false
  ga('send', 'event', 'outbound', 'click', url, {
    hitCallback: function() {
      redirectTriggered = true
      document.location = url
    }
  })
  setTimeout(function() {
    if (!redirectTriggered) {
      document.location = url
    }
  }, 1500)
}

var trackDocsCNLookupButtons = function(btn_type) {
  var event_label = btn_type
  ga('send', 'event', {
    'eventCategory': 'docs-cn_view',
    'eventAction': 'click',
    'eventLabel': event_label
  });
}
</script>
