version: 2.1

commands:
  install-deps:
    steps:
      - checkout
      # Dependencies required for deploy
      # python3-pip for awscli
      - run: sudo apt update && sudo apt install rsync python-bs4 python3-pip -y
      # Download and cache dependencies and submodules
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "package.json" }}
            # Fallback to using the latest cache if no exact match is found
            - v1-dependencies-
      - run: npm install
      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{{ checksum "package.json" }}

  verify-and-build:
    steps:
      - run:
          command: npm run build
          no_output_timeout: 20m

  deploy-website:
    steps:
      - run:
          name: Deploy to HK_1_HOST
          command : |
            ssh-keyscan "${HOST_HK_1_IP}" >> ~/.ssh/known_hosts 2>/dev/null
            npm run deploy
      
jobs:
  build:
    docker:
      - image: circleci/node:14.13.0
    steps:
      - install-deps
      - verify-and-build
      - persist_to_workspace:
          root: .
          paths:
            - dist
  
  deploy:
    docker:
      - image: circleci/node:14.13.0
    steps:
      - install-deps
      - attach_workspace:
          at: .
      - deploy-website

workflows:
  version: 2
  build:
    jobs:
      - build:
          filters:
            branches:
              only:
                - CPT-262-migrate-event-pages

      - hold-for-deploy:
          type: approval
          requires:
            - build

      - deploy:
          requires:
            - hold-for-deploy
