{{- define "headTpl" -}}
    {{$.Scratch.Set "nav_active" "about"}}
    {{$.Scratch.Set "data_i18_cn" true }}
    {{$.Scratch.Set "data_i18_link" "/about" }}
    {{- partial "head/preload-css" (dict "href" "/css/about.css") -}}
    <!-- <style type="text/css">
    .amap-logo,
    .amap-copyright {
        display: none !important;
    }
    .amap-icon img {
        width: 100%;
        height: 100%;
    }
    </style> -->
{{- end -}}

{{- define "footJS" -}}
    <script type="text/javascript" src="https://download.pingcap.com/js/particles.js"></script>
    <script type="text/javascript" src="/js/about.js"></script>

    <!-- Begin bai_du map -->
    <!-- <script type="text/javascript" src="https://webapi.amap.com/maps?v=1.3&key=5943f0161bc8beb9f40b4f652faf648f&callback=init"></script>
    <script type="text/javascript">
        function init() {
            var map = new AMap.Map('map', {
                zoomEnable: false,
                zoom: 15,
                center: [116.357273, 40.042345],
                mapStyle: 'amap://styles/light' //样式URL
            })
            //添加点标记，并使用自己的icon
            new AMap.Marker({
                map: map,
                position: [116.357273, 40.042345],
                icon: new AMap.Icon({
                    size: new AMap.Size(32, 32), //图标大小
                    image: '/images/svgs/location.svg'
                })
            })
        }
    </script> -->
    <!-- End bai_du map -->
{{- end -}}

{{- define "main" -}}
    <section class="banner-bg">
        <div class="banner-img">
            <img src="https://download.pingcap.com/images/about-banner.png" />
        </div>
    </section>
    <section class="about-company">
      <div class="container">
        <div class="desc">
          PingCAP 是一家开源的新型分布式数据库公司，秉承开源是基础软件的未来这一理念，PingCAP 持续扩大社区影响力，致力于前沿技术领域的创新实现。其研发的分布式关系型数据库 TiDB
          项目，具备「分布式强一致性事务、在线弹性水平扩展、故障自恢复的高可用、跨数据中心多活」等核心特性，是大数据时代理想的数据库集群和云数据库解决方案。目前，已被 500
          余家不同行业的领先企业应用在实际生产环境，涉及互联网、游戏、银行、保险、证券、航空、制造业、电信、新零售、政府等多个行业，包括美国、欧洲、日本、东南亚等海外用户。
        </div>
        <a class="link" href="/about-cn/recruit/" onclick="trackViews('about-cn-join-us-top', 'recruit_view')">
          <button
            class="round-corner-btn">
            <span class="arrow">{{ partial "svgs/icon-right-arrow.svg" (dict "fill" "white" "width" 16 "height" 16 ) }}</span>
            <span class="text">加入我们</span></button>
        </a>
      </div>
    </section>
    <section class="about-timeline">
        <div class="container">
            <h2 class="title">发展历程</h2>
            <div class="time-line">
                <div class="start-node"></div>
                {{- range $idx, $event := .Site.Data.company_timeline -}}
                <div
                  class="event {{ if and (not $event.year_node) (not (modBool $idx 2)) }}line-without-year-right{{ end}}
                  {{ if and $event.year_node (not (modBool $idx 2)) }}line-with-year-right{{ end}}
                  {{ if and $event.year_node (modBool $idx 2) }}line-with-year-left{{ end}}
                  {{ if and (not $event.year_node) (modBool $idx 2) }}line-without-year-left{{ end}}">
                    {{- if $event.year_node -}}
                        <div class="node-with-year">{{ $event.year_node }}</div>
                    {{- else -}}
                        <div class="node-without-year"></div>
                    {{- end -}}
                    <div class="event-detail">
                        <div class="time"> {{ $event.time }}</div>
                        <div class="detail">
                            {{- range $idx, $i := $event.event_detail -}}
                                <p>{{ if gt (len $event.event_detail) 1 }}-{{ end }} {{ $i }}</p>
                            {{- end -}}
                        </div>
                    </div>
                </div>
                {{- end -}}
            </div>
        </div>
    </section>
    <section class="intro-video">
        <div id="particles-js"></div>
        <div class="video-wrapper f-vhc">
            <video id="video" preload="auto" controls poster="https://download.pingcap.com/images/video-poster.jpg">
                <source src="https://download.pingcap.com/videos/pingcap-intro-v2.mp4" type='video/mp4;codecs="avc1.42E01E, mp4a.40.2"'
                /> Your browser does not support the video tag.
            </video>
        </div>
    </section>
    <section class="about-culture">
        <div class="container">
            <h2 class="title">企业文化</h2>
            <div class="desc">
                PingCAP 是一个年轻开放、崇尚自由的团队，集合了一群充满好奇心、有追求、技艺高超、梦想用科技改变世界的小伙伴。他们每个人都是这个行业的佼佼者，也是 PingCAP 团队最核心的价值。为了更好的追求梦想，我们为每一位小伙伴提供了最自由且舒适的工作环境。
            </div>

            <div class="details">
                <div class="item">
                    <div class="image-wrap">
                        <img class="icon" src="/images/svgs/icon-pc.svg" alt="Office Equipment">
                    </div>
                    <h3>办公设备</h3>
                    <p class="desc">顶级的代码背后，是顶尖的开发者+顶配的办公设备</p>
                </div>
                <div class="item">
                    <div class="image-wrap">
                        <img class="icon" src="/images/svgs/icon-gym.svg" alt="Gym">
                    </div>
                    <h3>健身房</h3>
                    <p class="desc">写不出代码的下午四点，跑步可以让我的大脑更清醒</p>
                </div>
                <div class="item">
                    <div class="image-wrap">
                        <img class="icon" src="/images/svgs/icon-tb.svg" alt="Team Building">
                    </div>
                    <h3>Team Building</h3>
                    <p class="desc">我不知道别人家的 Team Building 什么样，反正我们是去高尔夫了......</p>
                </div>
                <div class="item">
                    <div class="image-wrap">
                        <img class="icon" src="/images/svgs/icon-food.svg" alt="Food & Beverage">
                    </div>
                    <h3>零食+餐</h3>
                    <p class="desc">吃吃喝喝这种小事请直接准备好，不要问我，我只爱 coding</p>
                </div>
                <div class="item">
                    <div class="image-wrap">
                        <img class="icon" src="/images/svgs/icon-tgif.svg" alt="TGIF">
                    </div>
                    <h3>TGIF</h3>
                    <p class="desc">Thank God It's Friday！让我们来一场无话不谈的聚会</p>
                </div>
                <div class="item">
                    <div class="image-wrap">
                        <img class="icon" src="/images/svgs/icon-hour.svg" alt="Flexible Work Schedule">
                    </div>
                    <h3>弹性工作</h3>
                    <p class="desc">适配我最离谱的生物钟，给我最高创造力的自由</p>
                </div>
            </div>
        </div>
    </section>

    <section class="about-contact">
        <div class="container">
            <h2 class="title">联系我们</h2>
            <div class="info">
                <div class="col-1">
                    <div class="office-info">
                        <span class="office-name">北京 Office：</span>
                        <span class="office-addr">北京市海淀区西小口路 66 号东升科技园 C-1 楼 2 层</span>
                    </div>
                    <div class="office-info">
                        <span class="office-name">上海 Office：</span>
                        <span class="office-addr">上海市黄浦区大沽路 288 号大沽庭映像 5 号楼 2 楼 B/C</span>
                    </div>
                    <div class="office-info">
                        <span class="office-name">杭州 Office：</span>
                        <span class="office-addr">杭州市西湖区中节能.西溪首座 A1-3-802</span>
                    </div>
                    <div class="office-info">
                        <span class="office-name">成都 Office：</span>
                        <span class="office-addr">成都市天府大道中段 666 号希顿国际 B 座 2806</span>
                    </div>
                    <div class="office-info">
                        <span class="office-name">深圳 Office：</span>
                        <span class="office-addr">深圳市宝安区 卓越 前海时代广场 A 座 2903</span>
                    </div>
                    <div class="office-info">
                        <span class="office-name">广州 Office：</span>
                        <span class="office-addr">广州市海珠区暄悦东街23号保利中悦广场3702</span>
                    </div>
                    <div class="office-info">
                        <span class="office-name">硅谷 Office：</span>
                        <span class="office-addr">2955 Campus Drive # 100, San Mateo, CA 94403</span>
                    </div>
                </div>
                <div class="col-2">
                    <div class="item">
                        <p class="office-name">电话</p>
                        <p>+86 010-53326356</p>
                    </div>
                    <div class="item">
                        <p class="office-name">技术及商务咨询</p>
                        <p>info@pingcap.com</p>
                    </div>
                    <div class="item">
                      <p class="office-name">媒体合作</p>
                      <p>pr@pingcap.com</p>
                    </div>
                </div>
            </div>
            <div class="pc-map">
                <img src="https://download.pingcap.com/images/about-map.png" />
                <div class="m-office m-beijing">
                    <div class='line'></div>
                    <button>北京 Office</button>
                </div>
                <div class="m-office m-shanghai">
                    <div class='line'></div>
                    <button>上海 Office</button>
                </div>
                <div class="m-office m-hangzhou">
                    <div class='line'></div>
                    <button>杭州 Office</button>
                </div>
                <div class="m-office m-chengdu">
                    <div class='line'></div>
                    <button>成都 Office</button>
                </div>
                <div class="m-office m-shenzhen">
                    <div class='line'></div>
                    <button>深圳 Office</button>
                </div>
                <div class="m-office m-guangzhou">
                    <div class='line'></div>
                    <button>广州 Office</button>
                </div>
                <div class="m-office m-silicon">
                    <div class='line'></div>
                    <button>硅谷 Office</button>
                </div>
            </div>
            <div class="mobile-map">
                <img src="https://download.pingcap.com/images/about-mobile-map.png" />
            </div>
            <div class="info-2">
                <div class="item">
                    <span class="office-name">电话：</span>
                    <span>+86 010-53326356</span>
                </div>
                <div class="item">
                    <span class="office-name">技术及上商务咨询：</span>
                    <span>info@pingcap.com</span>
                </div>
                <div class="item">
                  <span class="office-name">媒体合作：</span>
                  <span>pr@pingcap.com</span>
                </div>
            </div>
        </div>
    </section>

    <section class="about-position">
        <div class="container">
            <h2 class="title">更多职位正虚位以待！</h2>
            <div class="floating-ele">
                <a class="link" href="/about-cn/recruit/" onclick="trackViews('about-cn-join-us-bottom', 'recruit_view')">
                    <button
                        class="round-corner-btn">
                        <span class="arrow">{{ partial "svgs/icon-right-arrow.svg" (dict "fill" "white" "width" 16 "height" 16 ) }}</span>
                        <span class="text">加入我们</span>
                    </button>
                </a>
                <img class="ele1" src="/images/svgs/ele1.svg" />
                <img class="ele2" src="/images/svgs/ele2.svg" />
                <img class="ele3" src="/images/svgs/ele3.svg" />
                <img class="ele4" src="/images/svgs/ele4.svg" />
                <img class="ele5" src="/images/svgs/ele5.svg" />
                <img class="ele6" src="/images/svgs/ele2.svg" />
                <img class="ele7" src="/images/svgs/ele2.svg" />
                <img class="ele8" src="/images/svgs/ele3.svg" />
            </div>
        </div>
    </section>
{{- end -}}
