{{- define "headTpl" -}}
    {{$.Scratch.Set "data_i18_cn" true }}
    {{$.Scratch.Set "data_i18_link" "/news" }}
    {{- partial "head/preload-css" (dict "href" "/css/cases.css") -}}
    {{ $.Scratch.Set "summary" "PingCAP 是 HTAP 数据库 TiDB 的背后团队，秉承开源是基础软件的未来这一理念，PingCAP 持续扩大社区影响力，致力于前沿技术领域的创新实现。" }}
{{- end -}}

{{- define "main" -}}
    {{ $heading := "PingCAP 新闻报道" }}
    <div class="news">
        {{ partial "layout/hero.html" (dict "heading" $heading) }}
        <div class="container">
            {{- partial "news/list.html" (dict "posts" .Site.Data.news_cn "global" .) -}}
        </div>
    </div>
{{- end -}}

{{ define "footJS"}}
<script type="text/javascript" src="/js/vendor/lazyload.min.js"></script>
<script type="text/javascript">
    $(".lazy").lazyload({
        threshold: 200,
        effect : "fadeIn"
    });
</script>
{{- end -}}
