<div class="carousel-on-modal">
    <div class="swiper-container" id="modal-carousel">
        <div class="swiper-wrapper">
            <img class="moment-img" src="/images/community/hackathon-moments/1.jpg" />
            <img class="moment-img" src="/images/community/hackathon-moments/2.jpg" />
            <img class="moment-img" src="/images/community/hackathon-moments/3.jpg" />
            <img class="moment-img" src="/images/community/hackathon-moments/4.jpg" />
            <img class="moment-img" src="/images/community/hackathon-moments/5.jpg" />
            <!-- {{- range $idx, $i := .Site.Data.hackathon2018.winners -}}
                <div class="swiper-slide">
                    <img class="moment-img" src="{{ $i.image }}" />
                </div>
            {{- end -}} -->
        </div>
    </div>
    <!-- <div class="swiper-pagination"></div> -->
    <div class="swiper-button-prev modal-carousel-prev"></div>
    <div class="swiper-button-next modal-carousel-next"></div>
</div>