{{ $nav_active := $.Scratch.Get "nav_active" }}
{{ $stable_version := $.Scratch.Get "stable_version" }}
<header role="navigation" class="fixed-top">
    <div class="container">
        <a class="nav-brand" href="/en"><img src="/images/pingcap-logo.png" alt="PingCAP"></a>
        <div class="nav-wrapper">
            <div class="navigation">
                <ul>
                <li {{ if eq $nav_active "cloud"}}class="sel"{{end}}><a class="a-en" href="/tidb-cloud/">Cloud</a></li>
                <li {{ if eq $nav_active "academy"}} class="sel" {{end}}><a class="a-en" class="tidb-academy"
                    href="/tidb-academy">TiDB Academy</a></li>
                <li {{ if eq $nav_active "docs"}}class="sel" {{end}}><a class="a-en" href="/docs/{{ $stable_version }}">Docs</a></li>
                <li {{ if eq $nav_active "cases"}}class="sel" {{end}}><a class="a-en" href="/success-stories">Success
                    Stories</a></li>
                <li {{ if eq $nav_active "blog"}}class="sel" {{end}}><a class="a-en" href="/blog">Blog</a></li>
                <li {{ if eq $nav_active "free-download"}}class="sel" {{end}}><a class="link-download link-download-en" href="/download">Free Download</a></li>
                </ul>
            </div>
            <div class="global-search">
                {{ $search_doc_version := trim (index (findRE "\\/(v\\d+\\.\\d+|dev)" .RelPermalink) 0) "/" }}
                {{ $search_doc_version := cond (eq $search_doc_version "") $stable_version $search_doc_version }}
                {{ partial "layout/search.html" (dict "global" . "search_doc_version" $search_doc_version "lang" "en" "stable_version" $stable_version) }}
            </div>
        </div>
        <div class="nav-btn nav-slider">
            <i class="material-icons">{{ partial "svgs/icon-menu.svg" (dict "width" 16 "height" 16 ) }}</i>
        </div>
    </div>
</header>
