<div class="meetup-carousel">
    <div class="swiper-container">
        <div class="swiper-pagination"></div>
        <div class="swiper-wrapper">
            {{- range $idx, $i := .Site.Data.meetup.next_meetup -}}
                <div class="swiper-slide">
                    <p class="topic">{{ $i.topic }}</p>
                    <div class="address">{{ $i.addr }}</div>
                    <div class="date">{{ $i.date }}</div>
                    <div>
                        <a href="{{ $i.link }}">
                            <button class="meetup-register">
                              报名加入
                            </button>
                        </a>
                    </div>
                </div>
            {{- end -}}
        </div>
    </div>
</div>