{{ $release := .Site.Data.release}}
{{ $data_i18_cn := $.Scratch.Get "data_i18_cn" }}

{{- if $release.isShow -}}
    <div class="release-banner" data-release="{{ $release.version }}">
        <div class="container">
            <div class="release-banner__inner">
                <div class="release-banner__copy">
                    <div class="party">
                      {{ if $data_i18_cn }}
                          <span>🔥</span>
                      {{ else }}
                          <span>🎉</span>
                      {{ end }}
                    </div>
                    <div>
                        {{ if $data_i18_cn }}
                            {{ $release.announcement.cn }}
                            <a href="{{ $release.link.cn }}"
                              onclick="trackViews('university-release-banner', 'university_signup_form_view')">报名火热开启</a>！
                        {{ else }}
                            <!-- {{ $release.announcement.en }}
                            <a href="{{ $release.link.en }}">Check it out</a> -->
                            {{ $release.announcement.en_part1 }} <a href="{{ $release.link.en }}">HERE</a> {{ $release.announcement.en_part2 }}
                        {{ end }}
                    </div>
                </div>
                <div class="release-banner__close"></div>
            </div>
        </div>
    </div>
{{- end -}}
