<form class="search-wrapper"  action="/search/{{ if eq .lang "cn" }}docs-cn{{- else -}}docs{{- end -}}{{if .docs_type }}{{ .docs_type }}{{else}}/{{end}}{{ .search_doc_version }}/">
    <span class="icon-search">{{ partial "svgs/icon-search.svg" (dict "fill" "#fff" "width" 18 "height" 18 ) }}</span>
    <input data-lang="{{ .lang }}" data-type="{{ .docs_type }}" type="search" id="search-input" name="q" 
    placeholder="{{ if eq .lang "en" }}Search TiDB Docs{{ else }}搜索 TiDB 文档{{ end }}">
</form>
