{{- define "title" -}}
{{ $.Scratch.Set "metaTitle" "TiDB Performance Challenge" }}
TiDB Performance Challenge
{{- end -}}

{{- define "headTpl" -}}
{{ $.Scratch.Set "data_i18_link" "/community-cn/tidb-performance-challenge" }}
{{- partial "head/preload-css" (dict "href" "/css/community/tidb-performance-challenge.css") -}}
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css"
/>
{{- end -}}

{{- define "main" -}}
<section class="hero is-medium tpc-hero">
  <div class="hero-body hero-body-en">
    <div class="container">
      <h1 class="title title-en">
        TiDB Performance Challenge
      </h1>
      <h2 class="subtitle is-4">
        2019.11.04 - 2020.02.04
      </h2>
      <div class="banner-buttons">
        <button class="button button-tpc button-receive button-en">
          <a target="_blank" href="https://github.com/tidb-perf-challenge/pcp/issues/new?template=performance-challenge-program.md&title=PCP%3A+Sign+Up">Sign Up</a>
        </button>
        <button class="button button-tpc button-details tpc-arrow-button button-en">
          <a target="_blank" href="https://github.com/pingcap/community/tree/master/challenge-Programs">About Challenge</a>
        </button>
      </div>
    </div>
  </div>
</section>
<section class="container has-text-centered tpc-readme">
  <h2 class="subtitle tpc-subtitle">TiDB Performance Challenge</h2>
  <div class="desc">
    Welcome to TiDB Performance Challenge homepage! Follow the guide on this page to participate in 
    this program. Before getting on board, let’s check out something that may help you in competitions.
  </div>
  <div class="desc">
    TiDB Performance Challenge launched by PingCAP will start on November 4, 2019 and end on February 4, 2020, 
    lasting three months. You can participate inindividually or with a team. When this season ends, 
    you can redeem the prizes with the Contribution Credit (CC) you got! 
  </div>
  <div class="desc">
    We believe that each challenge you successfully get through can raise TiDB to a higher 
    level in terms of stability, performance and usability!
  </div>
</section>
<section class="has-text-centered tpc-highlights">
  <h2 class="subtitle tpc-subtitle">HIGHLIGHTS</h2>
  <div class="container container-highlights">
    <div class="columns columns-highlights">
      <div class="column">
        <div class="card">
          <div class="card-content">
            <h3 class="subtitle">Step-by-step Challenge</h3>
            <p class="card-en-desc">
              Newbie to TiDB? Don’t worry,「Easy」Issues can help you get on board quickly! 
              After you win enough points, then you can continue to unlock 「Medium」and「Hard」Issues.
            </p>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="card card-purple">
          <div class="card-content">
            <h3 class="subtitle">Mentors on the Way</h3>
            <p class="card-en-desc">
              Difficulty goes up, support comes out. We have mentors to help you with「Medium」and「Hard」Issues. 
              How to communicate with them? The slack channel is ready for you. Full support along the way 
              can promise you a fruitful challenging experience.
            </p>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="card">
          <div class="card-content">
            <h3 class="subtitle">Bountiful Prizes</h3>
            <p class="card-en-desc">
              You can redeem the Contribution Credit for the prizes when the season ends! From the tickets 
              of the TiDB important events to the TiDB swags, you can redeem all as long as you have enough winning points. 
              Besides, we will award the Top 3 winners a customized certificate to recognize their full engagement in this project!
            </p>
          </div>
        </div>
      </div>
    </div>
    <div>
      <button class="button button-details button-en"><a target="_blank" href="https://github.com/pingcap/community/tree/master/challenge-Programs">About Challenge</a></button>
    </div>
  </div>
</section>
<section class="has-text-centered tpc-prize">
  <h2 class="subtitle tpc-subtitle">PRIZE CATEGORIES</h2>
  <div class="container container-prize">
    <div class="columns is-mobile is-multiline is-centered">
      <div class="column is-4-desktop is-half-mobile">
        <div class="prize-card">
          <div>
            <h3 class="title">100 <sub>CC</sub></h3></h3>
            <p class="has-text-weight-bold">TiDB Black/White T-shirt</p>
            <img
              src="https://download.pingcap.com/images/tidb-performance-challenge/black-white-t.png"
              alt="Black/White tshirt"
            />
          </div>
        </div>
      </div>
      <div class="column is-4-desktop is-half-mobile">
        <div class="prize-card">
          <div>
            <h3 class="title">150 <sub>CC</sub></h3>
            <p class="has-text-weight-bold">TiDB Laptop Sleeve</p>
            <img
              src="https://download.pingcap.com/images/tidb-performance-challenge/handbag.png"
              alt="Handbag"
            />
          </div>
        </div>
      </div>
      <div class="column is-4-desktop is-half-mobile">
        <div class="prize-card">
          <div>
            <h3 class="title">200 <sub>CC</sub></h3>
            <p class="has-text-weight-bold">TiDB Insulated Cup</p>
            <img
              src="https://download.pingcap.com/images/tidb-performance-challenge/bottle.png"
              alt="Bottle"
            />
          </div>
        </div>
      </div>
      <div class="column is-4-desktop is-half-mobile">
        <div class="prize-card">
          <div>
            <h3 class="title">300 <sub>CC</sub></h3>
            <p class="has-text-weight-bold">TiDB Hoodie</p>
            <img
              src="https://download.pingcap.com/images/tidb-performance-challenge/sweater.png"
              alt="Sweater"
            />
          </div>
        </div>
      </div>
      <div class="column is-4-desktop is-half-mobile">
        <div class="prize-card">
          <div>
            <h3 class="title">1800 <sub>CC</sub></h3>
            <p class="has-text-weight-bold">THE NORTH FACE Backpack<br/> (only three pieces)</p>
            <img
              src="https://download.pingcap.com/images/tidb-performance-challenge/bag.png"
              alt="Bag"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="has-text-centered tpc-ranking">
  <h2 class="subtitle tpc-subtitle">LEADERBOARD</h2>
  <div class="container" style="max-width: 1220px;">
    <div id="tpc-ranking-switch">
      <div class="first">S1 Contribution Credit</div>
      <div class="second">Contribution Credit History</div>
      <div class="slider slider-en" data-lang="en"></div>
    </div>
    <div id="ranking-list"></div>
  </div>
</section>
{{- end -}}

{{- define "footJS" -}}
<script type="text/javascript" src="/js/vendor/lazyload.min.js"></script>
<script type="text/javascript">
  $('.lazy').lazyload({
    effect: 'fadeIn',
    threshold: 200,
  })
</script>
<script src="/js/tidb_performance_challenge.js"></script>
{{- end -}}
