{{- define "headTpl" -}}
    <style type="text/css" media="screen">
        .st_tree {
            display: none;
        }
    </style>
    {{- partial "head/preload-css" (dict "href" "https://download.pingcap.com/style/github-markdown.css") -}}
    {{- partial "head/preload-css" (dict "href" "/css/doc.css") -}}
    {{$.Scratch.Set "nav_active" "docs"}}
    {{$.Scratch.Set "data_i18_cn" true }}
    {{$.Scratch.Set "data_i18_link" "/docs" }}
    {{ $.Scratch.Set "metaTitle" "TiDB 官方用户文档" }}
{{- end -}}

{{- define "main" -}}
{{ $stable_version := $.Scratch.Get "stable_version" }}
{{ $total_versions := .Site.Params.versions.docs.total_versions }}
<div class="doc" id="list_page">
    <div class="container">
        {{ $current_version := index (findRE "\\/(v\\d+\\.\\d+|dev)" .URL) 0 }}

        {{- if eq $current_version "/dev" -}}
            {{ partial "archives/sticky-tree.html" (dict "tree" .Site.Data.docs_cn_dev_toc "title" "文档") }}
        {{- else if eq $current_version "/v2.1" -}}
            {{ partial "archives/sticky-tree.html" (dict "tree" .Site.Data.docs_cn_v21_toc "title" "文档") }}
        {{- else -}}
            {{ partial "archives/sticky-tree.html" (dict "tree" .Site.Data.docs_cn_v30_toc "title" "文档") }}
        {{- end -}}

        <div class="archive">
            <div class="content markdown-body">
                {{ .Scratch.Set "prefix" "/docs-cn" }}

                {{ if $current_version }}
                    {{ .Scratch.Add "prefix" $current_version }}
                    {{ .Scratch.Add "prefix" "/" }}
                    {{ .Scratch.Add "data_i18_link" $current_version }}
                {{ end }}

                {{ $trimed_URL := strings.TrimPrefix (.Scratch.Get "prefix") .URL }}

                {{ $.Scratch.Set "doesnot_exist_ver" (slice "") }}

                {{ $tempFilePath := .File.Path }}

                {{- range $idx, $i := $total_versions -}}

                    {{ $file_path := printf "%s%s%s" "./content" "/" (replaceRE "(v\\d+\\.\\d+|dev)" $i $tempFilePath)}}

                    {{- if not (fileExists $file_path) -}}
                        {{ $.Scratch.Add "doesnot_exist_ver" $i }}
                    {{- end -}}
                {{- end -}}

                {{ $doesnot_exist_ver := $.Scratch.Get "doesnot_exist_ver" }}

                {{ .Content }}
            </div>
            <div class="article-toc"></div>
        </div>

        <div class="sidebar-page sticky-sidebar">
            {{ partial "archives/version-switcher.html" (dict "stable_version" $stable_version "total_versions" $total_versions "current_version" $current_version "doesnot_exist_ver" $doesnot_exist_ver "trimed_URL" $trimed_URL "type" "docs-cn") }}
            {{- partial "archives/download-pdf.html" (dict "isCn" "true" "version" $current_version "stable_version" $stable_version) -}}
            {{ with .Site.GetPage "page" "docs-cn/v3.0/overview.md" }}
                {{- partial "archives/improve-doc.html" (dict "repo" "docs-cn" "global" . "isCn" "true") -}}
                {{- partial "archives/request-docs-changes.html" (dict "repo" "docs-cn" "global" . "isCn" "true" "link" .Permalink "prefixRepo" "docs-cn/") -}}
            {{ end }}
            <p class="toc-title">本页导航</p>
            <div id="smart_toc_wrapper"></div>
        </div>
    </div>
</div>
{{- end -}}

{{- define "footJS" -}}
    <script type="text/javascript" src="/js/vendor/lazyload.min.js"></script>
    <script type="text/javascript" src="/js/doc.js"></script>
{{- end -}}
