{{- define "headTpl" -}}
    <style type="text/css" media="screen">
        .st_tree {
            display: none;
        }
    </style>
    {{- partial "head/preload-css" (dict "href" "https://download.pingcap.com/style/github-markdown.css") -}}
    {{- partial "head/preload-css" (dict "href" "/css/doc.css") -}}
    {{$.Scratch.Set "nav_active" "docs"}}
    {{$.Scratch.Set "data_i18_cn" true }}
    {{$.Scratch.Set "data_i18_link" "/docs/" }}
    {{$.Scratch.Set "metaTitle" "TiDB 官方用户文档"}}
{{- end -}}

{{- define "main" -}}
{{ $stable_version := $.Scratch.Get "stable_version" }}
{{ $total_versions := $.Scratch.Get "total_versions" }}
{{ $current_version := default "stable" (index (findRE "(v\\d+\\.\\d+|dev|stable)" .RelPermalink) 0) }}
<div class="doc">
    <div class="container">
        {{ $.Scratch.Add "data_i18_link" $current_version }}
        {{ partial "navs/docs-nav.html" (dict "global" . "lang_prefix" "docs_cn_" "cv" $current_version "sv" $stable_version "tv" $total_versions) }}

        <div class="archive">
            <div class="content markdown-body">
                {{ .Content }}
            </div>
            <div class="article-toc"></div>
            {{- partial "archives/git-info.html" (dict "repo" "docs-cn" "isCn" "true" "global" .) -}}
        </div>

        <div class="sidebar-page sticky-sidebar">
            {{- partial "archives/improve-doc.html" (dict "repo" "docs-cn" "global" . "isCn" "true" "sv" $stable_version) -}}
            {{- partial "archives/request-docs-changes.html" (dict "repo" "docs-cn" "global" . "isCn" "true" "link" .Permalink "prefixRepo" "docs-cn/" "sv" $stable_version) -}}
            <p class="toc-title">本页导航</p>
            <div id="smart_toc_wrapper"></div>
        </div>
    </div>
</div>
{{- end -}}

{{- define "footJS" -}}
    <script type="text/javascript" src="/js/vendor/lazyload.min.js"></script>
    <script type="text/javascript" src="/js/doc.js"></script>
    <script type="text/javascript" src="/js/anchor.js"></script>
{{- end -}}
