{{ $hasMetaData := .hasMetaData }}
{{ $hasBrief := .hasBrief }}
{{ $listType := .listType }}

<div class="list article-list">
    {{- range .posts -}}
    <a href="{{ .URL }}">
      <div class="blog__article" data-category="{{ range .Params.categories }}{{ replace . " " "-" }} {{ end }}">
          <!-- {{ printf "%#v" $listType }} -->
          {{- if ne $listType "blog" -}}
              <div class="logo">
                {{- if .Params.image}}
                    {{ $landingImg := .Params.image}}
                    <img class="lazy" src="{{- $landingImg -}}" />
                {{- else -}}
                    <img class="lazy" src="/images/blog-article/default.jpg" />
                {{- end -}}
              </div>
          {{- end -}}
          <div class="abstract clearfix">
              <h1 class="title">{{ .Title }}</h1>
              {{- if $hasMetaData -}}
                  <ul class="blog-post-meta">
                      <li class="meta-item">
                          <img src="/images/svgs/icon-date.svg">
                          {{- .Date.Format "2006-01-02" -}}
                      </li>
                      <li class="meta-item">
                          <img src="/images/svgs/icon-writer.svg">
                          {{- if isset .Params "author" -}}
                              {{ $len := len .Params.author }}
                              {{- range $idx, $i := .Params.author -}}
                                  {{ . }}
                                  {{- if lt $idx (sub $len 1) -}} ,&nbsp; {{- end -}}
                              {{- end -}}
                          {{- else -}}
                              PingCAP
                          {{- end -}}
                      </li>
                      <li class="meta-item">
                          <div class="meta-category">
                            {{- if isset .Params "categories" -}}
                                {{- range $idx, $i := .Params.categories}}
                                    {{ $i }}
                                {{- end -}}
                            {{- end -}}
                          </div>
                      </li>
                  </ul>
              {{- end -}}
              {{- if $hasBrief -}}
                  <div class="brief">
                      {{- .Params.summary -}}
                      <!-- <div class="hideExtraWords">.</div> -->
                  </div>
              {{- end -}}
              <div class="readMore">
                  <p>Read More</p>
              </div>
          </div>
      </div>
    </a>
    {{- end -}}
</div>
