{{- partial "tracking-code/ga-events-js.html" -}}
{{ $version := replaceRE "\\/" "" .version }}

{{- if .isCn -}}
    <a href="http://download.pingcap.org/tidb-manual-cn-{{ if $version }}{{ $version }}{{ else }}stable{{ end }}.pdf?v={{ now.Unix }}"
      download="tidb-manual-cn-{{ $version }}.pdf" class="pdf-link" target="_blank"
      onclick="trackOutboundLink('http://download.pingcap.org/tidb-manual-cn-{{ $version }}.pdf?v={{ now.Unix }}'); return false;">
{{- else -}}
    <a href="http://download.pingcap.org/tidb-manual-en-{{ if $version }}{{ $version }}{{ else }}stable{{ end }}.pdf?v={{ now.Unix }}" 
      download="tidb-manual-en-{{ $version }}.pdf" class="pdf-link" target="_blank"
      onclick="trackOutboundLink('http://download.pingcap.org/tidb-manual-en-{{ $version }}.pdf?v={{ now.Unix }}'); return false;">
{{- end -}}
{{- partial "svgs/icon-pdf.svg" (dict "fill" "#142848" "width" 14 "height" 14 ) -}}
{{ if .isCn }} 下载 {{ else }} Download {{ end }} PDF
</a>
