{{ $total_versions := .total_versions }}
{{ $stable_version := .stable_version }}
{{ $current_version := .current_version }}
{{ $doesnot_exist_ver := .doesnot_exist_ver }}
{{ $trimed_URL := .trimed_URL}}
{{ $current_version := replaceRE "\\/" "" (cond (eq $current_version nil) $stable_version $current_version) }}
{{ $type := .type}}

<div class="version-switcher">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      {{ $current_version }}
  </button>
  <div class="dropdown-menu visibility-hide" id="dropdown-menu-items">
      {{- range $idx, $i := $total_versions -}}
          <a class="dropdown-item {{ if in $doesnot_exist_ver $i }}unclickable-btn{{ end }}"
            href="
            {{ if in $doesnot_exist_ver $i }}#{{ else }}/{{ $type }}/{{ $i }}{{ $trimed_URL }}{{ end }}">{{ $i }}
            <!-- {{- if in $doesnot_exist_ver $i -}} 
                <span class="tooltiptext">This doc does not exist in {{ $i }}</span>
            {{- end -}} -->
        </a>
      {{- end -}}
  </div>
</div>
