{{- define "headTpl" -}}
    <style type="text/css" media="screen">
        .st_tree {
            display: none;
        }
    </style>
    {{- partial "head/preload-css" (dict "href" "/css/doc.css") -}}
    {{$.Scratch.Set "nav_active" "docs"}}
    {{$.Scratch.Set "data_i18_link" "/docs-cn/" }}
    {{ $.Scratch.Set "metaTitle" "TiDB" }}
{{- end -}}

{{- define "main" -}}
<div class="doc">
    <div class="container">
        {{ $.Scratch.Add "data_i18_link" "stable" }}
        {{- partial "archives/search-results-list" -}}
    </div>
</div>
{{- end -}}

{{- define "footJS" -}}

<script type="text/javascript" src="/js/doc.js"></script>

<script type="text/javascript" src="/js/vendor/lazyload.min.js"></script>
<script type="text/javascript">
    $(".lazy").lazyload({
        threshold: 200,
        effect : "fadeIn"
    });
</script>
{{- end -}}
